---
---

$font-stack: "Poppins", "Helvetica", "Arial";

// NOT MOBILE
@media screen and (min-width: 768px) {
    .header {
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .container {
        padding: 1.5rem 0;
    }
}

body {
    font-family: $font-stack;
}

.container {
    padding: 1.5rem 1rem;
    &.shake {
        animation: 0.5s shake;
    }
}
@keyframes shake {
    0% { transform: translateX(10px); }
    20% { transform: translateX(-10px); }
    40% { transform: translateX(6px); }
    60% { transform: translateX(-4px); }
    80% { transform: translateX(2px); }
    100% { transform: translateX(0px); }
}

.header {
    align-items: center;
    margin: 0 0 1rem 0;
    .card-body {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        h1 {
            margin: 0;
        }
    }
    img {
        height: 6rem; width: auto;
        margin: 1rem;
    }
}

.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
    .list-group {
        margin-bottom: 0;
    }
}
.list-group.list-group-root .list-group-item {
    border-radius: 0;
    &:empty {
        border-bottom-width: 0;
    }
}
.list-group.list-group-root > .list-group:not(:last-child) > .list-group-item {
    border-bottom-width: 0;
}
.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 2.5rem;
    border-width: 0px 1px 1px 1px;
}