<!--
    Ayoo
    https://github.com/emiratestel/website
-->

<!DOCTYPE html>
<html lang="en">
{% include head.html %}


<body>
    {% include navbar.html %}
    
    <div class="container"> 
        <div class="card header">
            {% if page.url contains "exploits/" or page.url contains "devices" %}
                <img src="{{site.baseurl}}/images/devices/{{page.device}}.svg" class="card-img-left" alt="Diagram of the device">
            {% endif %}
            <div class="card-body">
                <h1>{{page.title}}</h1>
            </div>
        </div>
        {{ content }}
    </div>

    {% include footer.html %}
    
    <!-- MODALS BELOW -->
    <a aria-label="Scroll to top of page" href="#top"></a><div class="scrollup">
        <i class="bi-caret-up-fill" style="font-size: 2em; color: white"></i>
    </div></a>
    
    <!--
    <div class="modal" id="loader-bg">
        <p3>Loader stuck? Disable jQuery blocking.</p3>
        <div id="loader-line">
            <svg version="1.1" viewBox="0 0 1920 1080" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <linearGradient id="xilog">
                      <stop offset="0%" stop-color="#1ec1c7" />
                      <stop offset="100%" stop-color="#4e44b0" />
                    </linearGradient>
                </defs>
                <path d="M1920 850.14L1005.29 521l411.42 349.71-820.28-282.85 303.43 262.28-554.41-149.86 132.69 188.43-337.54-65.36 85.54 150.22L0 922.14" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="100"/>
            </svg>
        </div>
    </div>
    -->

    <!-- if JS off -->
    <noscript>
        <div style="background-color: #fff; z-index: 9999999999999999999999999; position: absolute; left:0;top:0">
            <h1 style="color: #f00">
                You should probably enable JavaScript! This website relies on it.
                </h1>
            </div>
    
    </noscript>
</body>

</html>