<!--
    Ayoo
    https://github.com/emiratestel/website
-->

<!DOCTYPE html>
<html lang="en">
{% include head.html %}


<body>
    {% include navbar.html %}
    
    <div class="container"> 
        <div class="card header">
            {% if page.url contains "exploits/" or page.url contains "devices" %}
            <img src="{{site.baseurl}}/images/devices/{{page.device}}.svg" class="card-img-left" alt="Diagram of the device">
            {% endif %}
            <div class="card-body">
                <h1>{{page.title}}</h1>
            </div>
        </div>
        {{ content }}
    </div>
    
    {% include footer.html %}
    
    <!-- MODALS BELOW -->
    <a aria-label="Scroll to top of page" href="#top"></a><div class="scrollup">
        <i class="bi-caret-up-fill" style="font-size: 2em; color: white"></i>
    </div></a>
    
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div class="toast donate" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body">
                Hi! Please consider donating if you like this website.
                <div class="mt-2 pt-2 border-top">
                    <a href="https://ko-fi.com/xilog"><button type="button" class="btn btn-primary btn-sm">Donate</button></a>
                    <button type="button" class="btn btn-secondary btn-sm close" data-bs-dismiss="toast">No</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- if JS off -->
    <noscript>
        <div style="background-color: #fff; z-index: 9999999999999999999999999; position: absolute; left:0;top:0">
            <h1 style="color: #f00">
                You should probably enable JavaScript! This website relies on it.
            </h1>
        </div>
        
    </noscript>
</body>

</html>